@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 13px;
}

@layer base {
  :root {
    --white: #fff;
    --black: #000;
    --grey: #828282;
    --light-grey: #f0f0f0;
    --light-dark-grey: #DEE2E6;
    --success: #18dd81;

    --background: #fcfbfc;
    --foreground: #1e1e1e; /* hsl(222.2, 84%, 4.9%) */
    --card: #ffffff; /* hsl(0, 0%, 100%) */
    --card-foreground: #1e1e1e; /* hsl(222.2, 84%, 4.9%) */
    --popover: #ffffff; /* hsl(0, 0%, 100%) */
    --popover-foreground: #1e1e1e; /* hsl(222.2, 84%, 4.9%) */
    --primary: 222.2, 47.4%, 11.2%; /* hsl(222.2, 47.4%, 11.2%) */
    --primary-foreground: 210, 40%, 98%; /* hsl(210, 40%, 98%) */
    --secondary: #f5faff; /* hsl(210, 40%, 96.1%) */
    --secondary-foreground: #2b2d3a; /* hsl(222.2, 47.4%, 11.2%) */
    --muted: #f5faff; /* hsl(210, 40%, 96.1%) */
    --muted-foreground: #728391; /* hsl(215.4, 16.3%, 46.9%) */
    --accent: #f5faff; /* hsl(210, 40%, 96.1%) */
    --accent-foreground: #2b2d3a; /* hsl(222.2, 47.4%, 11.2%) */
    --destructive: #ff4c4c; /* hsl(0, 84.2%, 60.2%) */
    --destructive-foreground: #f5fbff; /* hsl(210, 40%, 98%) */
    --border: #d6e0eb; /* hsl(214.3, 31.8%, 91.4%) */
    --border-grey: #e0e0e0;
    --input: #d6e0eb; /* hsl(214.3, 31.8%, 91.4%) */
    --ring: #000; /* hsl(222.2, 84%, 4.9%) */
    --radius: 0.5rem;
    --chart-1: #f0913c; /* hsl(12, 76%, 61%) */
    --chart-2: #2ea586; /* hsl(173, 58%, 39%) */
    --chart-3: #4a7b92; /* hsl(197, 37%, 24%) */
    --chart-4: #e1c42f; /* hsl(43, 74%, 66%) */
    --chart-5: #ffa34f; /* hsl(27, 87%, 67%) */
  }

  .dark {
    --background: #1e1e1e; /* hsl(222.2, 84%, 4.9%) */
    --foreground: #f5fbff; /* hsl(210, 40%, 98%) */
    --card: #1e1e1e; /* hsl(222.2, 84%, 4.9%) */
    --card-foreground: #f5fbff; /* hsl(210, 40%, 98%) */
    --popover: #1e1e1e; /* hsl(222.2, 84%, 4.9%) */
    --popover-foreground: #f5fbff; /* hsl(210, 40%, 98%) */
    --primary: #f5fbff; /* hsl(210, 40%, 98%) */
    --primary-foreground: #2b2d3a; /* hsl(222.2, 47.4%, 11.2%) */
    --secondary: #2b3c4b; /* hsl(217.2, 32.6%, 17.5%) */
    --secondary-foreground: #f5fbff; /* hsl(210, 40%, 98%) */
    --muted: #2b3c4b; /* hsl(217.2, 32.6%, 17.5%) */
    --muted-foreground: #9fb3be; /* hsl(215, 20.2%, 65.1%) */
    --accent: #2b3c4b; /* hsl(217.2, 32.6%, 17.5%) */
    --accent-foreground: #f5fbff; /* hsl(210, 40%, 98%) */
    --destructive: #993333; /* hsl(0, 62.8%, 30.6%) */
    --destructive-foreground: #f5fbff; /* hsl(210, 40%, 98%) */
    --border: #2b3c4b; /* hsl(217.2, 32.6%, 17.5%) */
    --input: #2b3c4b; /* hsl(217.2, 32.6%, 17.5%) */
    --ring: #8e9eb8; /* hsl(212.7, 26.8%, 83.9%) */
    --chart-1: #0000cc; /* hsl(220, 70%, 50%) */
    --chart-2: #66cc99; /* hsl(160, 60%, 45%) */
    --chart-3: #ff9933; /* hsl(30, 80%, 55%) */
    --chart-4: #9955cc; /* hsl(280, 65%, 60%) */
    --chart-5: #d43399; /* hsl(340, 75%, 55%) */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.success {
  color: var(--success);
}

.wrapper {
  @apply mx-4 sm:mx-8 lg:mx-[100px] [@media(min-width:2213px)]:mx-auto max-w-[1920px];
}

.desktop-view {
  @apply hidden md:block;
}

.mobile-view {
  @apply flex md:hidden;
}

.desktop-tablet-view {
  @apply hidden sm:flex;
}

.mobile-desktop-tablet-view {
  @apply flex sm:hidden;
}


.EZDrawer .EZDrawer__checkbox {
    display: none;
}
.EZDrawer .EZDrawer__checkbox:checked ~ .EZDrawer__overlay {
    display: block;
    opacity: 1;
}
.EZDrawer .EZDrawer__checkbox:checked ~ .EZDrawer__container {
    visibility: visible;
    transform: translate3d(0, 0, 0) !important;
}
.EZDrawer .EZDrawer__overlay {
    display: none;
    height: 800px!important;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.EZDrawer .EZDrawer__container {
    position: fixed;
    visibility: hidden;
    background: white;
    transition: all;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}
